<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
    <div class="container"> 
      <div class=navbar-img><a class="navbar-brand" href="/"><img src="/assets/images/598px-SARS-CoV-2_without_background.png" alt="Science Responds"></a></div>
        <div class="blurb">
        <h2>Science Responds</h2>
        </div><!-- /.blurb -->
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarCollapse">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item dropdown active">
                    <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">About</a>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                        <a class="dropdown-item" href="/about/overview">Overview</a>
                        <a class="dropdown-item" href="/about/team">The coordination team</a>
                        <a class="dropdown-item" href="https://github.com/science-responds/science-responds.github.io-source">Contribute to the site</a>
                        <a class="dropdown-item" href="https://scienceresponds.slack.com">Chat on Slack</a>
                    </div>
                </li>

                <li class="nav-item dropdown active">
                    <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Resources</a>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                        <a class="dropdown-item" href="/resources/computing">Computing resources</a>
                        <a class="dropdown-item" href="/resources/datasets">Datasets</a>
                        <a class="dropdown-item" href="/resources/articles">Articles and papers</a>
                    </div>
                </li>

                <li class="nav-item dropdown active">
                    <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Projects</a>
                    <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuButton">
                        {% assign projects = site.pages | where_exp: "item", "item.path contains 'projects'" | sort: 'title' %}
                        {% for mypage in projects %}
                          <a class="dropdown-item" href="{{mypage.permalink}}">{{mypage.title}}</a>
                        {% endfor %}
                    </div>
                </li>

                <!-- Add projects here at some point -->
                <li class="nav-item dropdown active">
                    <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Primers</a>
                    <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuButton">
                        {% assign primers = site.pages | where_exp: "item", "item.path contains 'primers'" | sort: 'title' %}
			{% assign haswishes = 0 %}
                        {% for mypage in primers %}
                        {% if mypage.wishlist != 'yes' %}
                        <a class="dropdown-item" href="{{mypage.permalink}}">{{mypage.title}}</a>
			{% else %}
			{% assign haswishes = 1 %}
			{% endif %}
                        {% endfor %}
			{% if haswishes == 1 %}
                        <a class="dropdown-item">Wish list items:</a>
                        {% for mypage in primers %}
                        {% if mypage.wishlist == 'yes' %}
                        <a class="dropdown-item" href="{{mypage.permalink}}">{{mypage.title}}</a>
			{% endif %}
                        {% endfor %}
			{% endif %}
		    </div>
                </li>
            </ul>
        </div>
    </div>
</nav>
