<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
    <div class="container"> 
        <a class="navbar-brand" href="/"><span><img src="/assets/images/598px-SARS-CoV-2_without_background.png" alt="Science Responds" height="89.7px" width="90px"></span></a>
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarCollapse">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item dropdown active">
                    <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">About</a>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                        <a class="dropdown-item" href="/about/overview">Overview</a>
                        <a class="dropdown-item" href="/docs">Docs</a>
                        <a class="dropdown-item" href="/sitemap">Sitemap</a>
                    </div>
                </li>
                <li class="nav-item dropdown active">
                    <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Connect</a>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                        <a class="dropdown-item" href="/news.html">News</a>
                    </div>
                </li>
                <li class="nav-item dropdown active">
                    <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Activities</a>
                    <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuButton">
                        {% assign activities = site.pages | where: "layout", "focus-area" | sort: 'title' %}
                        {% for mypage in activities %}
                        <a class="dropdown-item" href="{{mypage.permalink}}">{{mypage.title}}</a>
                        {% endfor %}
                    </div>
                </li>
            </ul>
        </div>
    </div>
</nav>
