<a id="twitter-box" class="twitter-timeline" data-width="100%" data-tweet-limit="4" href="https://twitter.com/ScienceResponds?ref_src=twsrc%5Etfw">Tweets by ScienceResponds</a>
  <script> <!-- Only changes on initial load (the following twitter script replaces twiter-box with content) -->
    if (window.matchMedia && window.matchMedia('(prefers-color-scheme: dark)').matches) {
      document.getElementById("twitter-box").setAttribute("data-theme", "dark");
    }
  </script>
<script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
