.footer-dark {
  @include gradient-x($navbar-light-active-color, $primary, 0%, 100%);
  border-top-color: $iris-100;

  border-top-style: solid;
  border-top-width: 3px;

  a {
    color: $navbar-light-active-color;

    @include hover-focus {
      color: $navbar-light-hover-color;
    }
  }

  .footer-text {
    color: $navbar-light-active-color;
  }
}
